.container{
    display: flex;  
    justify-content: center;
    align-items: center;
    width: 100%;
    .form{
        h1{text-align: center; padding: 20px 0; text-transform: uppercase;}
        margin-top: 5%;
        width: 450px;
        padding: 20px 40px;
        box-shadow: 5px 5px 10px #888888;
        border-radius: 10px;
        .input{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 18px 20px;
            height: 0;
        }
    }
}