.footer-container{
    border-top: 7px solid black;
    width: 100%;
    padding: 0 7%;
    cursor: default;
    .top{
        width: 100%;
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        .item-logo{
            font-weight: bold;
            font-size: 30px;
        }
        .item-title{
            font-weight: bold;
            padding-bottom: 10px;
        }
        .item-a div{
            padding: 1px 0;
            cursor: default;
        }
        .item-a div:hover{
            color: darkred;
        }
    }
    .bot{
        width: 100%;
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .mid{
            display: flex;
            align-items: center;
        }
        .icon span{
            font-size: 22px;
            padding: 0 5px;
        }
    }
}

@media screen and (max-width: 600px) {
    .footer-container {
        padding: 0 ;
        .top{
            padding-top:20px ;
            .item-logo{
                font-size: 15px;
            }
            .item-title{
                font-size: 10px;
            }
            .item-a{
                font-size: 10px;
            }
        }
      .bot{
        padding: 0;
        .left{
            display: none;
        }
        .mid{
           font-size: 10px;
        }
      }
    }
  }