.cart-container{
    width: 100%;
    min-height: 80vh;
    margin-bottom: 10px;
    .left{
        height: 10% ;
        border: 1px solid rgb(239, 235, 235);
        border-radius: 5px;
        .item-cart{
            margin: 20px 0;
            width: 100%;
            height: auto;
            padding: 10px 30px;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .image{
                width: auto;
                height: 80px;
                padding: 0 10px;
            }
            .name{
                font-size: 16px;
            }
            .delete-item{
                color: black;
                font-weight: bold;
                font-size: 15px;
            }.delete-item:hover{
                color: red;
                transition: 0.7;
            }
            .quantity{
                display: flex;
                justify-content: space-between;
                align-items: center;
                // border: 1px solid black;
                padding: 1px 10px;
                gap: 10px;
                font-size: 15px;
                cursor: default;
                button{
                 
                    padding: 3px 7px;
                    background-color: white;
                    border: 1px solid black;
                    border-radius: 2px;
                }
               
            } 
        }
        .totalPrice{
            font-weight: bold;
            color: darkRed;
            font-size: 15px;
        }

   

    }
    .right{   
        height: 100vh;
        .pay{
            border: 1px solid rgb(239, 235, 235);
            border-radius: 5px;
            width: 100%;
            height: auto;
            padding: 20px 30px;
        }

     
    }
}

.input{
    height: 40px;
    
}

